.advantages {
  overflow-x: clip;
  position: relative;
}

.advantages__img-background {
  position: absolute;
  top: -235px;
  left: -155px;

  img {
    height: 391px;
  }

  @include vp-1440 {
    left: -35px;
  }

  @include vp-1199 {
    display: none;
  }

  &--right {
    top: -56px;
    left: auto;
    right: -132px;

    img {
      width: 788px;
      height: 263px;
    }

    @include vp-1440 {
      right: -112px;
    }
  }
}

.advantages__title {
  margin-bottom: 46px;
  text-align: center;

  @include vp-767 {
    margin-bottom: 30px;
  }

  span {
    left: 50%;
    transform: translate(-50%);
  }

  h2 {
    @include vp-767 {
      width: auto;
    }
  }
}

.advantages__swiper {
  margin-bottom: 48px;
}

.advantages__swiper-wrapper {
  @include vp-1199 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    gap: 28px;
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 0 15px;
    gap: 13px;
  }
}

.advantages__btn-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 4px;
  width: 78px;
  margin-left: auto;
  margin-right: auto;

  @include vp-1199 {
    display: none;
  }
}
