.gallery-card {

  &--wide {
    width: 275px;

    @include vp-767 {
      width: 159px;
    }
  }

  &--mountain {
    width: 272px;

    @include vp-767 {
      width: 157px;
    }
  }

  &--forest {
    width: 276px;

    @include vp-767 {
      width: 158px;
    }
  }

  &--net {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 298px;

    @include vp-767 {
      width: 172px;
    }
  }
}
