.gallery__text {
  display: flex;
  flex-direction: column;
  gap: 23px;
  max-width: 693px;

  p {
    @include reset-style;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    @include vp-1199 {
      font-size: 14px;
      line-height: 22px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 18px;
    }
  }

  @include vp-1199 {
    max-width: 395px;
  }

  @include vp-767 {
    max-width: none;
    gap: 15px;
  }
}

.gallery__btn-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 4px;
  width: 78px;
  margin-bottom: 6px;

  @include vp-1199 {
    margin-bottom: 17px;
  }

  @include vp-767 {
    align-self: flex-end;
    margin: 0;
  }
}
