.hero {
  background-color: $color-navy-blue;
}

.hero__slide-wrapper {
  height: auto;
}

.hero__slide {
  display: grid;
  grid-template-columns: 769px auto;
  height: 100%;
  padding: 182px 0 80px;

  &--kamchatka {
    grid-template-columns: 806px auto;
  }

  &--altaic {
    grid-template-columns: 944px auto;
  }

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 174px 0 72px;

    &--kamchatka {
      gap: 34px;
    }

    &--altaic {
      gap: 69px;
    }
  }

  @include vp-767 {
    min-height: 568px;
    justify-content: space-between;
    padding: 139px 0 22px;
  }
}

.hero__slide-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

.hero__list {
  @include reset-list;

  display: flex;
  flex-direction: column;

  @include vp-1199 {
    align-items: center;
    text-align: center;
  }

  h2 {
    @include reset-style;

    font-size: 77px;
    font-weight: 800;
    line-height: 77px;
    color: $color-default-white;
    margin-bottom: 25px;

    @include vp-1199 {
      font-size: 56px;
      line-height: 56px;
      margin-bottom: 15px;
    }

    @include vp-767 {
      font-size: 30px;
      line-height: 30px;
    }
  }

  p {
    @include reset-style;

    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: $color-default-white;
    max-width: 464px;
    margin-bottom: 35px;

    @include vp-1199 {
      font-size: 17px;
      line-height: 24px;
      margin-bottom: 25px;
    }

    @include vp-767 {
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 20px;
    }
  }

  a {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: $color-default-white;
    background-color: $color-navy-blue;
    outline: none;
    border: 1px solid transparent;
    width: 220px;
    padding: 20px;

    @include vp-1199 {
      width: 206px;
    }

    @include vp-767 {
      width: 100%;
      padding: 17px;
    }

    @include hover-focus {
      background-color: $color-default-white;
      color: $color-resolution-blue;
      border-color: $color-resolution-blue;
    }

    @include active {
      background-color: $color-resolution-blue;
      color: $color-default-white;
      border-color: $color-resolution-blue;
    }
  }
}

.hero__item {
  @include vp-767 {
    &--link {
      width: 100%;
      padding: 0 55px;
    }
  }
}

.hero__btn-list {
  @include reset-list;

  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
  gap: 10px;

  @include vp-1199 {
    display: none;
  }
}

.hero__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
  }
}

.hero__block-right {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding-top: 119px;
  margin-left: -51px;

  &--kamchatka {
    gap: 13px;
    padding-top: 20px;
    margin-left: -16px;
  }

  &--altaic {
    margin-left: -84px;
    gap: 146px;
  }

  @include vp-1199 {
    margin: 0;
    padding: 0;
    gap: 100px;

    &--kamchatka {
      gap: 51px;
    }

    &--altaic {
      gap: 154px;
    }
  }
}

.hero__pagination {
  position: static;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 46px;
  gap: 15px;

  @include vp-1199 {
    justify-content: center;
  }

  @include vp-767 {
    gap: 12px;
  }

  span {
    width: 10px;
    height: 10px;
    border: 1px solid $color-default-white;

    @include vp-767 {
      width: 8px;
      height: 8px;
    }
  }
}

.hero__audio {
  iframe {
    width: 340px;
    height: 220px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__photographs {
  img {
    @include vp-1199 {
      width: 100%;
    }
  }

  @include vp-767 {
    display: none;
  }
}
