.map {
  position: relative;
  width: 100%;
  margin-top: 98px;

  @include vp-1199 {
    margin: 0;
    height: 340px;
  }

  @include vp-767 {
    height: 320px;
  }
}

.map__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
