.map {
  position: relative;
  width: 100%;
  margin-top: 98px;

  @include vp-1199 {
    margin: 0;
    padding-top: calc(100% * 340 / 678);
  }

  @include vp-767 {
    padding-top: calc(100% * 320 / 290);
  }
}

.map__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  img {
    width: 100%;
  }
}
