.menu-list {
  @include reset-list;

  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 205px auto 142px;
  justify-content: space-between;
  align-items: start;
  padding-top: 40px;

  &--header {
    @include vp-1199 {
      grid-template-areas: "nav logo phone";
      grid-template-columns: 126px auto 126px;
      padding: 30px 45px 66px;

      .show-menu & {
        background-color: $color-default-white;
        align-items: start;
        box-shadow: 0 420px 0 rgba(0, 0, 0, 0.5);
      }

      .nojs & {
        position: static;
        background-color: $color-default-white;
        align-items: start;
      }
    }

    @include vp-767 {
      grid-template-areas: "nav logo"
        "nav phone";
      grid-template-columns: auto 112px;
      grid-template-rows: 34px auto;
      align-items: start;
      padding: 15px 15px 45px;

      .show-menu & {
        box-shadow: 0 320px 0 rgba(0, 0, 0, 0.5);
      }
    }
  }

  &--footer {
    position: static;
    background-color: transparent;
    padding: 0;
    margin-bottom: 11px;

    @include vp-1199 {
      grid-template-columns: 144px auto;
      margin-bottom: 17px;
    }

    @include vp-767 {
      grid-template-areas: "footer-logo"
        "footer-menu";
      padding-left: 4px;
      margin-bottom: 29px;
    }
  }
}

.menu-list__item {
  use {
    fill: $color-default-white;
  }

  @include hover-focus {
    use {
      opacity: 0.7;
    }
  }

  @include active {
    use {
      opacity: 0.5;
    }
  }

  &--nav {
    @include vp-1199 {
      grid-area: nav;

      .show-menu & {
        padding-top: 11px;
      }

      .nojs & {
        padding-top: 11px;
      }
    }

    @include vp-767 {
      .show-menu & {
        padding-top: 0;
      }

      .nojs & {
        padding-top: 0;
      }
    }
  }

  &--logo {
    @include vp-1199 {
      grid-area: logo;

      svg {
        width: 144px;
        height: 44px;
      }
    }

    @include vp-767 {
      svg {
        width: 112px;
        height: 34px;
      }
    }
  }

  &--phone {
    @include vp-1199 {
      grid-area: phone;

      .show-menu & {
        padding-top: 3px;
      }

      .nojs & {
        padding-top: 3px;
      }
    }
  }

  &--logo-footer {
    use {
      fill: $color-elephant;
    }

    @include hover-focus {
      use {
        opacity: 0.7;
      }
    }

    @include active {
      use {
        opacity: 0.5;
      }
    }

    @include vp-1199 {
      width: 118px;
      height: 44px;

      svg {
        width: 118px;
        height: 44px;
      }
    }

    @include vp-767 {
      grid-area: footer-logo;
      margin-bottom: 10px;

      svg {
        width: 114px;
        height: 34px;
      }
    }
  }

  &--footer-menu {
    margin-left: -64px;

    @include vp-1199 {
      margin-left: 0;
    }

    @include vp-767 {
      grid-area: footer-menu;
    }
  }

  @include vp-1199 {
    .show-menu & {
      use {
        fill: $color-elephant;
      }
    }

    .nojs & {
      use {
        fill: $color-elephant;
      }
    }
  }
}
