.navigation {
  @include reset-style;

  .show-menu & {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;
    padding-top: 11px;
  }
}

.navigation__list {
  @include reset-list;

  display: flex;
  gap: 20px;
  max-width: 600px;
  margin-top: -6px;

  &--header {
    @include vp-1199 {
      display: none;

      @include vp-1199 {
        .show-menu & {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  &--footer {
    flex-wrap: wrap;

    @include vp-767 {
      flex-direction: column;
      max-height: 80px;
      gap: 15px 81px;
    }
  }
}

.navigation__toggle {
  display: none;

  @include vp-1199 {
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;

    svg {
      .show-menu & {
        display: none;
      }

      &:last-child {
        display: none;

        .show-menu & {
          display: block;
        }
      }
    }
  }
}

.navigation__item {
  a {
    @include reset-style;

    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: $color-default-white;
    border: 1px solid transparent;
    outline: none;
    padding: 3px 5px;

    @include vp-1199 {
      font-size: 14px;
      line-height: 14px;
      font-weight: 700;
    }

    .show-menu & {
      color: $color-elephant;
    }

    @include hover {
      border-bottom: 1px solid $color-default-white;
    }

    @include focus {
      border-color: $color-default-white;
    }

    @include active {
      border-color: transparent;
    }
  }

  &--footer {
    font-size: 14px;
    line-height: 14px;

    a {
      color: $color-elephant;

      @include vp-1199 {
        font-weight: 400;
        padding: 0;
      }

      @include hover {
        border-bottom: 1px solid $color-elephant;
      }

      @include focus {
        border-color: $color-elephant;
      }

      @include active {
        border-color: transparent;
      }
    }
  }
}
