.navigation {
  @include reset-style;

  .show-menu & {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 57px;
  }
}

.navigation__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 600px;

  &--header {
    padding-top: 20px;

    @include vp-1199 {
      display: none;
      padding: 0;

      .show-menu & {
        display: flex;
        flex-direction: column;
        gap: 18px;
      }

      .nojs & {
        display: flex;
        flex-direction: column;
        gap: 18px;
      }
    }

    @include vp-767 {
      .show-menu & {
        gap: 12px;
      }

      .nojs & {
        gap: 12px;
      }
    }
  }

  &--footer {
    padding-top: 23px;

    @include vp-1199 {
      padding-top: 10px;
    }

    @include vp-767 {
      flex-direction: column;
      max-height: 80px;
      gap: 15px 81px;
      padding: 0;
    }
  }
}

.navigation__toggle {
  display: none;

  @include vp-1199 {
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin-top: 12px;

    .show-menu & {
      margin: 0;
    }

    svg {
      .nojs & {
        display: none;
      }

      .show-menu & {
        display: none;
      }

      &:last-child {
        display: none;

        .show-menu & {
          display: block;
        }
      }
    }
  }

  @include vp-767 {
    margin: 0;
  }
}

.navigation__item {
  a {
    @include reset-style;

    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: $color-default-white;
    border: 1px solid transparent;
    outline: none;
    padding: 3px 5px;

    @include hover {
      border-bottom: 1px solid $color-default-white;
    }

    @include focus {
      border-color: $color-default-white;
    }

    @include active {
      border-color: transparent;
    }

    .show-menu & {
      @include hover-focus {
        opacity: 0.3;
      }

      @include active {
        opacity: 0.5;
      }
    }
  }

  &--header {
    @include vp-1199 {
      a {
        color: $color-elephant;
        font-size: 16px;
        line-height: 16px;
        font-weight: 700;
        letter-spacing: 0.64px;
        text-transform: uppercase;
        padding: 0;
      }
    }

    @include vp-767 {
      a {
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.56px;
      }
    }
  }

  &--footer {
    line-height: 14px;

    a {
      color: $color-elephant;

      @include vp-1199 {
        font-size: 14px;
        line-height: 14px;
        font-weight: 400;
        padding: 0;
      }

      @include hover {
        border-bottom: 1px solid $color-elephant;
      }

      @include focus {
        border-color: $color-elephant;
      }

      @include active {
        border-color: transparent;
      }
    }
  }
}
