.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;

  @include vp-1199 {
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 0 15px;
  }

  &--hero {
    position: static;
    height: 100%;
  }

  &--gallery {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 46px;

    @include vp-1199 {
      margin-bottom: 37px;
    }

    @include vp-767 {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      margin-bottom: 15px;
    }
  }

  &--form {
    z-index: 1;
  }

  &--upcoming-tours {
    @include vp-767 {
      z-index: 1;
    }
  }
}
